* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: transparent; */
}

.container2 {
  max-width: 845px;
  width: 100%;
  background: #fff;
  margin: auto;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  padding: 25px 30px;
  border-radius: 5px;
  border-right: 1px solid gray;
  box-shadow: 0.01rem 0.25rem rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.container2 .title2 {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.container2 .title2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container2 form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 3px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 3px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus {
  border-color: #537895;
}
.user-details .input-box input:valid {
  border-color: #537895;
}

.user-details .input-box select:focus {
  border-color: #537895;
}
.user-details .input-box select:valid {
  border-color: #537895;
}

/* .container2 form .button1{
    margin-bottom: 15px;
    width: calc(100% / 1 - 20px);
} */
.container2 form .btn-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form .btn-group button {
  min-height: 50px;
  min-width: 150px;
  outline: none;
  margin-top: 30px;
  color: #000;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: #09203f;
  background: -webkit-linear-gradient(top left, #09203f, #537895);
  background: -moz-linear-gradient(top left, #09203f, #537895);
  background: linear-gradient(to bottom right, #09203f, #537895);

  /* background: radial-gradient(
    circle,
    rgba(174, 254, 214, 1) 0%,
    rgba(174, 254, 214, 1) 0%,
    rgba(174, 254, 214, 1) 0%,
    rgba(174, 254, 214, 1) 0%,
    rgba(174, 254, 214, 1) 6%,
    rgba(174, 254, 214, 1) 7%,
    rgba(174, 254, 214, 1) 28%,
    rgba(160, 175, 183, 1) 100%
  ); */
}

form .btn-group button:hover {
  background: #537895;
  background: -webkit-linear-gradient(top left, #537895, #09203f);
  background: -moz-linear-gradient(top left, #537895, #09203f);
  background: linear-gradient(to bottom right, #537895, #09203f);
  /* background: linear-gradient(
    213deg,
    rgba(134, 196, 221, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  ); */
  color: #fff;
}
